USE MASTER
GO 
CREATE DATABASE SYSCOM_BOOC_TEST

ON 
( NAME = TESTDACDB_DAT,
   FILENAME = 'C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL\DATA\SYSCOM_BOOC_TEST.MDF',
   SIZE = 1GB,
   FILEGROWTH = 5% )
LOG ON
( NAME = 'TESTDACDB_LOG',
   FILENAME = 'C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL\DATA\SYSCOM_BOOC_TEST.LDF',
   SIZE = 100MB,
   FILEGROWTH = 10MB )
GO

USE SYSCOM_BOOC_TEST
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[APP_I]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[APP_I]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[APP_INFO]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[APP_INFO]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[APP_R]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[APP_R]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[BAM087]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[BAM087]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[JAS002]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[JAS002]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[KRM021]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[KRM021]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[KRM023]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[KRM023]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[RESULT]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[RESULT]
GO

IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[STM007]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
DROP TABLE [DBO].[STM007]
GO

CREATE TABLE [DBO].[APP_I] (
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[SEQ] [INT] NOT NULL ,
	[APR] [FLOAT] NOT NULL ,
	[PERIODS] [INT] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[APP_INFO] (
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[APPLICATION_DATE] [CHAR] (8) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[PRODUCT_CODE] [INT] NOT NULL ,
	[BT_AMOUNT] [INT] NOT NULL ,
	[NO_OF_BT] [INT] NOT NULL ,
	[TEASER_PERIOD] [INT] NOT NULL ,
	[BT_FEE_CODE] [INT] NOT NULL ,
	[BT_FEE] [INT] NULL ,
	[BT_FEE_PERCENTAGE] [FLOAT] NULL ,
	[CC_INTEREST_RATE] [FLOAT] NOT NULL ,
	[GENDER] [INT] NOT NULL ,
	[CHANNEL] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[ZIP] [CHAR] (3) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[CARD_TYPE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[DOB] [CHAR] (8) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[INCOME] [INT] NOT NULL ,
	[EDUCATION] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[COMPANY_NAME] [NVARCHAR] (24) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[JOB_TILTLE] [NVARCHAR] (16) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[TENURE] [INT] NULL ,
	[BT_FEE_MONTH] [INT] NOT NULL ,
	[MARTIAL_STATUS] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[APP_R] (
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[PRODUCT_CODE] [INT] NOT NULL ,
	[LINE] [INT] NOT NULL ,
	[DECISION] [INT] NOT NULL ,
	[FINAL_DECISION_DATE] [CHAR] (8) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[SYSTEM_DATE] [CHAR] (8) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[BAM087] (
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[DATA_YYY] [CHAR] (3) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[DATA_MM] [CHAR] (2) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[BANK_CODE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[BANK_NAME] [CHAR] (40) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ACCOUNT_CODE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ACCOUNT_CODE2] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[PURPOSE_CODE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CONTRACT_AMT1] [INT] NULL ,
	[CONTRACT_AMT] [INT] NULL ,
	[LOAN_AMT] [INT] NULL ,
	[PASS_DUE_AMT] [INT] NULL ,
	[PAY_CODE_12] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CO_LOAN] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ACT_Y_MARK] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CONTRACT_AMT_Y] [INT] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[JAS002] (
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[EVER_DELINQUENT] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[DELINQUENT_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[EVER_BAD_CHECK] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[BAD_CHECK_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[EVER_REJECT] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[REJECT_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[EVER_STOP_CARD] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[STOP_CARD_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[KRM021] (
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CARD_BRAND] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CARD_TYPE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ISSUE] [CHAR] (3) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ISSUE_NAME] [CHAR] (40) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[START_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[STOP_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[STOP_CODE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[AB_CODE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[M_S] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[LIMIT] [CHAR] (6) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[RISK] [CHAR] (6) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CLEAR_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[PIDN] [CHAR] (10) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CNAME] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[KRM023] (
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[YRMON] [CHAR] (5) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[ISSUE] [CHAR] (3) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[ISSUE_NAME] [CHAR] (40) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[KR_CODE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[LIMIT] [CHAR] (5) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[PAYMENT] [CHAR] (3) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASH] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[PAY_CODE] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[RESULT] (
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[APPLICATION_DATE] [CHAR] (8) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[SUGGESTED_LINE] [INT] NOT NULL ,
	[PRODUCT_CODE] [INT] NOT NULL ,
	[RESULT_CODE] [INT] NOT NULL ,
	[RESULT_MESSAGE] [CHAR] (256) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NOT NULL ,
	[EV] [DECIMAL](16, 2) NULL ,
	[PB] [DECIMAL](5, 4) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DBO].[STM007] (
	[IDN] [CHAR] (11) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[QUERY_DATE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[BANK_CODE] [CHAR] (7) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[BANK_NAME] [CHAR] (40) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[ITEM_LIST] [CHAR] (10) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[INQ_PURPOSE1] [CHAR] (1) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[INQ_PURPOSE] [CHAR] (30) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL ,
	[CASE_SN] [CHAR] (12) COLLATE CHINESE_TAIWAN_STROKE_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [DBO].[APP_I] ADD 
	CONSTRAINT [PK_APP_I] PRIMARY KEY  CLUSTERED 
	(
		[CASE_SN],
		[IDN],
		[SEQ]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DBO].[APP_INFO] ADD 
	CONSTRAINT [PK_APP_INFO] PRIMARY KEY  CLUSTERED 
	(
		[CASE_SN],
		[IDN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DBO].[APP_R] ADD 
	CONSTRAINT [PK_APP_R] PRIMARY KEY  CLUSTERED 
	(
		[CASE_SN],
		[IDN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DBO].[KRM023] ADD 
	CONSTRAINT [PK_KRM023] PRIMARY KEY  CLUSTERED 
	(
		[IDN],
		[YRMON],
		[ISSUE],
		[CASE_SN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DBO].[RESULT] ADD 
	CONSTRAINT [PK_RESULT] PRIMARY KEY  CLUSTERED 
	(
		[CASE_SN],
		[IDN]
	)  ON [PRIMARY] 
GO

USE MASTER
GO
SP_ADDLOGIN @LOGINAME = 'DACUSR1', @PASSWD = 'DACUSR1', @DEFDB = 'SYSCOM_BOOC_TEST'
GO
SP_ADDLOGIN @LOGINAME = 'CSUSR1', @PASSWD = 'CSUSR1', @DEFDB = 'SYSCOM_BOOC_TEST'
GO
SP_ADDLOGIN @LOGINAME = 'DACUSR2', @PASSWD = 'DACUSR2', @DEFDB = 'SYSCOM_BOOC_TEST'
GO

/*GRANT TO ACCESS SYSCOM_BOOC_TEST*/
USE SYSCOM_BOOC_TEST
GO
SP_GRANTDBACCESS 'DACUSR1'
GO
SP_GRANTDBACCESS 'CSUSR1'
GO
SP_GRANTDBACCESS 'DACUSR2'
GO
/* GRANT DAC AND DACUSR2 WITH DDLADMIN ROLE*/
SP_ADDROLEMEMBER 'DB_DDLADMIN', 'DACUSR1'
GO
SP_ADDROLEMEMBER 'DB_DDLADMIN', 'DACUSR2'
GO

/*GRANT PRIVILEGES TO DACUSR1*/
GRANT CREATE TABLE, CREATE VIEW TO DACUSR1;
GRANT SELECT ON APP_I TO DACUSR1;
GRANT SELECT ON APP_INFO TO DACUSR1;
GRANT SELECT, UPDATE ON KRM023 TO DACUSR1;
GRANT SELECT, UPDATE ON KRM021 TO DACUSR1;
GRANT SELECT, UPDATE ON BAM087 TO DACUSR1;
GRANT SELECT, UPDATE ON JAS002 TO DACUSR1;
GRANT SELECT, UPDATE ON STM007 TO DACUSR1;
GRANT SELECT, INSERT ON RESULT TO DACUSR1;
GO

/*GRANT PRIVILEGES TO SYSCOM*/
GRANT CREATE TABLE TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON APP_I TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON APP_INFO TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON KRM023 TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON KRM021 TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON BAM087 TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON JAS002 TO CSUSR1;
GRANT SELECT, INSERT, DELETE, UPDATE ON STM007 TO CSUSR1;
GRANT SELECT ON RESULT TO CSUSR1;
GO

/*GRANT PRIVILEGES TO MIS*/
GRANT CREATE TABLE, CREATE VIEW TO DACUSR2;
GRANT SELECT ON APP_I TO DACUSR2;
GRANT SELECT ON APP_INFO TO DACUSR2;
GRANT SELECT ON KRM023 TO DACUSR2;
GRANT SELECT ON KRM021 TO DACUSR2;
GRANT SELECT ON BAM087 TO DACUSR2;
GRANT SELECT ON JAS002 TO DACUSR2;
GRANT SELECT ON STM007 TO DACUSR2;
GRANT SELECT ON APP_R TO DACUSR2;
GRANT SELECT ON RESULT TO DACUSR2;
GO
